@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0D0D0D;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.k2d-thin {
  font-family: "K2D", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.k2d-extralight {
  font-family: "K2D", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.k2d-light {
  font-family: "K2D", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.k2d-regular {
  font-family: "K2D", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.k2d-medium {
  font-family: "K2D", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.k2d-semibold {
  font-family: "K2D", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.k2d-bold {
  font-family: "K2D", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.k2d-extrabold {
  font-family: "K2D", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.k2d-thin-italic {
  font-family: "K2D", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.k2d-extralight-italic {
  font-family: "K2D", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.k2d-light-italic {
  font-family: "K2D", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.k2d-regular-italic {
  font-family: "K2D", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.k2d-medium-italic {
  font-family: "K2D", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.k2d-semibold-italic {
  font-family: "K2D", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.k2d-bold-italic {
  font-family: "K2D", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.k2d-extrabold-italic {
  font-family: "K2D", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.kranky-regular {
  font-family: "Kranky", serif;
  font-weight: 400;
  font-style: normal;
}
